@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  font-size: 16px;
}

html,
body {
  font-family: "Lato", sans-serif;
  color: rgb(151, 150, 150);
  background-image: url("../images/4305157.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

p {
  margin: 0;
}

.wrapper {
  height: 80%;
  margin: 3em;
  padding: 2rem;
}

#player-turn {
  background: linear-gradient(to left, white 50%, rgb(210, 210, 210) 50%);
}

#btn-new-game {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  --color: rgb(151, 150, 150);
  --background: white;
  --box-shadow: none;
  height: 3rem;
  border: 3px solid rgb(150, 150, 150);
  border-radius: 2px;
}

#btn-new-game ion-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

#btn-roll-dice,
#btn-hold {
  font-size: 1.5rem;
  font-weight: 200;
  --color: rgb(150, 150, 150);
  --background: white;
  --box-shadow: none;
  height: 3rem;
  border: 3px solid rgb(150, 150, 150);
  border-radius: 2px;
}

#btn-roll-dice {
  margin: 0;
  margin-bottom: 1rem;
}

#btn-hold {
  margin: 0;
  margin-top: 1rem;
}

#btn-roll-dice ion-icon,
#btn-hold ion-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.player-name {
  font-size: 3rem;
  font-weight: 500;
}
.player-name span {
  margin-left: 1rem;
  vertical-align: middle;
}

.player-name .hide,
.gagnant.hide {
  display: none;
}
.player-name .show,
.gagnant.show {
  display: inline;
}
.winners {
  height: 2rem;
}
.gagnant {
  font-size: 2rem;
}
.global-player {
  margin: 3rem 0;
}
.global-player > p {
  font-size: 5rem;
  font-weight: 100;
  color: rgb(253, 90, 90);
}
#score {
  width: 8rem;
  margin: auto;
}

.scores {
  margin-top: 1rem;
}
.current {
  margin: 4rem 0 0 0;
}
.current-score {
  color: rgb(247, 30, 30);
  background-color: rgb(253, 90, 90);
  font-weight: bold;
  padding: 1rem;
  margin: auto;
  width: 50%;
}
.current-score #round-player1,
.current-score #round-player2 {
  font-size: 2.5rem;
  color: #fff;
  padding-top: 1rem;
}
