html,
body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background-image: url("../images/4305157.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

.container {
  background-color: #fff;
  justify-content: center;
}
